* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*///////////////
CLASSES 
 ///////////*/

.main{
    padding-left: 200px;
    padding-right: 200px;
}

.header{
    background-color: #000000;
    color: #EFBBD3;

}

.banner{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.banner .lukaimg1{
    margin: auto;
    position: relative;
    width: 100%;
}

/*///////////////
TAGS 
 ///////////*/

body{ 
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-family:"Broadway Regular";
}

.navnav{
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    display: flex;
    font-weight: bold;
    font-size: larger;
    background-color: #000000;
}

li a {
    color: #EFBBD3;
    padding: 14px 16px;
    text-decoration: none;
}

#Music{
    background-color: #FFF7F8;
    color: #000000;
}

#Music h1{
    letter-spacing: 3px;
}

.title{
    padding-top: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.small-box{
    border-color: #EFBBD3;
    border-style: solid;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.bigvid{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.minivid{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
